@import '~antd/dist/antd.css';

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
    border-right: none;
}

.ant-layout-sider-light {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
}

.ant-descriptions-item-label {
    font-weight: 500;
}

no-scroll {
    overflow: hidden;
}

div.scroll {
    overflow: hidden;
}

div.scroll:hover {
    overflow: auto;
}

.ant-layout {
    background-color: white;
}

.ant-layout-sider-children {
    position: fixed
}